.contest {
  font-family: "Open Sans", "Arial", sans-serif;
  background: #283645 url("../img/bg-back-mobile@1x.jpg") no-repeat center -70px;
  box-sizing: border-box;
  padding-top: 30px;
  min-height: 170px;
}
.contest__title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.contest__wrapper {
  width: 280px;
  margin: 0 auto;
}
