.download {
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: 300;
  line-height: 29px;

  &--hand {
    background: url(../img/iphone-hand-mobile@1x.png) no-repeat 0 30%,
    url(../img/bg-back-mobile@1x.jpg) no-repeat top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.download__wrapper {
  margin-top: 398px;
  background-color: #1d2631;
}
.download__link {
  padding: 27px 25px 27px 20px;
}
.download__link a {
  border: 3px solid #fff;
  border-radius: 50px;
  color: #fff;
  padding: 15px 0 15px 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  width: 100%;
  display: block;
}
