.pagination {
  text-align: center;
}
.pagination__page {
  display: inline-block;
  background-color: #bec2c7;
  width: 6px;
  height: 6px;
  margin-top: 38px;
  margin-bottom: 45px;
  border: 3px solid #1d2631;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;

  &--active {
    border: 3px solid #1d2631;
    background-color: #fff;
  }

  &--bg {
    border: 3px solid #f2f2f2;
  }
}

