.prices {
  background-color: #f2f2f2;
}
.pricing-taxes {
  width: 100%;
  display: table;
}
.pricing-taxes__col {
  border: 2px solid #e5e5e5;
  background-color: #fff;
  border-top: none;
  border-bottom: none;
  display: table-cell;
  width: 30%;
}
.pricing-taxes__title {
  background-color: #f2f2f2;
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 22px;

  &--hit {
    background-image: url(../img/bg-hit.svg) no-repeat;
  }
}
.pricing-taxes__price {
  display: block;
  background-color: #1d2631;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
  padding-bottom: 23px;
  text-align: center;
}
.pricing-taxes__cell {
  color: #1d2631;
  border-bottom: 2px solid #e5e5e5;
  font-size: 14px;
  line-height: 30px;
  padding: 23px;

  &--yes {
    background: url(../img/icon-yes.svg) no-repeat;
    background-position: 90%;
  }
  &--no {
    background: url(../img/icon-no.svg) no-repeat;
    background-position: 90%;
  }
}
