.reviews  {
  width: 280px;
  margin: 0 auto;
  padding-top: 40px;
}
.reviews-text__title {
  font-family: "Open Sans", "Arial", sans-serif;
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.reviews-text__paragraph {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
